.home_container{
    margin: auto;
    padding-top: 50px;
    width: 100% !important;

}

.header_class{
    width: 100%;
    position: fixed;
}
.home_container .top_segment{
    font-size: 20px;
    background-color:rgb(244, 244, 244);
    height: 2000px;
} 

/* .home_container .top_segment .text{
    color: orange;
} */





/* .home_container .middle_segment{
    background-color: rgb(244, 244, 244);
    font-size: 20px;
    height: 600px;

} */

/* .home_container .lower_segment{
    background-color: rgb(117, 109, 162);
    font-size: 20px;
    height: 600px;

} */