.container{
    margin-top: 30px; 
    padding: 30px;
    width: 75% !important;
    background-color: #bfd2f2;
    border-radius:10px;
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc;
}

.FormGroup .State{
    padding: 22px;
}

.registrationResult{
    padding-top: 20px;
}

.formButton {
    padding-top: 10px;
    height: 70px;
    display: flex;
    justify-content: center;
    color: red;
}