 

.reps_container  {
   font-weight: bold;
   padding: 20px;
   text-align: center;
   width: 85% ;
   margin: auto;
}

.reps_container .input_div{
   display: inline-block;
   margin-bottom: 30px;
}

.reps_container .input_div h1{
   display: inline-block;
   font-size: 45px;
}

/* .checkboxes{
   padding: 15px;
}

.checkboxes .checkbox .inputs{
   padding-right: 15px;
} */

