 p {
    font-size: 20px;
 }


.reps_container  {
   font-weight: bold;
   padding: 30px;
   text-align: center;
   width: 80% ;
   margin: auto;
}

.reps_container .input_div{
   /* display: inline-block; */
   margin-bottom: 30px;
}

.reps_container .input_div h1{
   /* display: inline-block; */
   font-size: 55px;
}

/* .reps_container .table tr,th{
   width: 5%;
   font-size: 15px;
   text-align: left;
   vertical-align: text-bottom;
} */

.representatives .table tr,th, td{
   padding: 25px;
   width: 10%;
   font-size: 15px;
   text-align: left;
   vertical-align: text-bottom;
   border-bottom: 1px solid grey;
}
/* .checkboxes{
   padding: 15px;
}

.checkboxes .checkbox .inputs{
   padding-right: 15px;
} */

